---
layout: default
title: Torque 3D
root: .
---

<div class="jumbotron banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{page.root}}/img/torque.png"></img>
            </div>
            <div class="col-sm-8">
                <h1 class="title">Torque 3D</h1>
                <p>The premier open-source game engine.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Gratis et libre</h3>
            <p>
            When you get Torque, you get everything. Under the permissive MIT
            open-source license, you can do what you want with the source code.
            </p>
            <a href="{{page.root}}/start">Download it now <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <h3>Proven</h3>
            <p>
            Torque has been around for a while, and it's been used for everything
            from interactive coral reefs to MMOs to driving simulators.
            </p>
            <a href="{{page.root}}/engine">Games made with Torque <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <h3>Always evolving</h3>
            <p>
            Torque is being constantly developed by an enthusiastic community.
            Its future is in <em>your</em> hands, not those of a company with a
            bottom line to meet.
            </p>
            <a href="{{page.root}}/contribute">Get involved <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    {% if site.posts | size %}
    <div class="row">
        <div class="col-sm-12">
            <h2>Recent news</h2>

            {% for post in site.posts limit:3 %}
                <span class="date">{{post.date | date_to_string}}</span>
                <a href="{{page.root}}{{post.url}}"><span class="post-title">{{post.title}}</span></a>
                <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
            {% endfor %}

            <a class="pull-right" href="{{page.root}}/news">See all <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    {% endif %}
</div>
