<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{{page.title}}</title>
        <link rel="icon" type="image/x-icon" href="{{page.root}}/favicon.ico">

        <link rel="stylesheet" href="{{page.root}}/css/main.css">
        <link rel="stylesheet" href="{{page.root}}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{page.root}}/css/font-awesome.min.css">

        <script type="text/javascript" src="{{page.root}}/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="{{page.root}}/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="site">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{page.root}}/">Torque 3D</a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="{{page.root}}/engine" class="dropdown-toggle" data-toggle="dropdown">Engine<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{page.root}}/engine#made-with-torque">Made with Torque</a></li>
                                    <li><a href="{{page.root}}/engine#features">Features</a></li>
                                    <li><a href="{{page.root}}/engine#roadmap">Roadmap</a></li>
                                    <li><a href="{{page.root}}/engine#history">History</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="{{page.root}}/start" class="dropdown-toggle" data-toggle="dropdown">Get started<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{page.root}}/start#download">Download</a></li>
                                    <li><a href="{{page.root}}/start#tutorials">Tutorials</a></li>
                                    <li><a href="http://wiki.torque3d.org/"> Wiki</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="{{page.root}}/committee" class="dropdown-toggle" data-toggle="dropdown">Committee<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{page.root}}/committee#what-is-the-steering-committee">What is the Steering Committee?</a></li>
                                    <li><a href="{{page.root}}/committee#current-membership">Current membership</a></li>
                                    <li><a href="{{page.root}}/committee#charter">Charter</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="{{page.root}}/contribute" class="dropdown-toggle" data-toggle="dropdown">Contribute<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{page.root}}/contribute#get-the-source-code">Get the source code</a></li>
                                    <li><a href="{{page.root}}/contribute#pull-request-guide">Pull-request guide</a></li>
                                    <li><a href="{{page.root}}/contribute#version-policy">Version policy</a></li>
                                    <li><a href="{{page.root}}/contribute#issues-and-requests">Issues and feature requests</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="{{page.root}}/community" class="dropdown-toggle" data-toggle="dropdown">Community<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://forums.torque3d.org/"> Forums</a></li>
                                    <li><a href="http://forums.torque3d.org/viewforum.php?f=8"> Blogs</a></li>
                                    <li><a target="_blank" href="https://twitter.com/search?q=%23torque3d"><i class="fa fa-external-link"></i> Twitter</a></li>
                                    <li><a target="_blank" href="https://www.facebook.com/Torque3D"><i class="fa fa-external-link"></i> Facebook</a></li>
                                    <li><a target="_blank" href="http://widget.mibbit.com/?settings=4c4bdb0c9496a9cc6a3575af8756f5e4&server=irc.maxgaming.net&channel=%23garagegames"><i class="fa fa-external-link"></i> IRC webchat</a></li>
                                    <li><a target="_blank" class="link-muted" href="http://www.garagegames.com/community/forums"><i class="fa fa-external-link"></i> Old forums</a></li>
                                    <li><a target="_blank" class="link-muted" href="http://www.garagegames.com/community/blogs"><i class="fa fa-external-link"></i> Old blogs</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {{ content }}

            <div class="container">
                <div class="footer">
                    <table class="contact">
                        <tr>
                            <td>Visit us on GitHub</td>
                            <td><a href="https://github.com/GarageGames/Torque3D">github.com/GarageGames/Torque3D</a></td>
                        </tr>
                        <tr>
                            <td>or at home</td>
                            <td><a href="http://garagegames.com/community">garagegames.com/community</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://github.com/eightyeight/Torque3DLandingPage">design</a> by</td>
                            <td><a href="https://github.com/eightyeight">eightyeight</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-50160060-1', 'garagegames.github.io');
          ga('send', 'pageview');
        </script>
    </body>
</html>
